<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="app.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="resources/MapperBank.xml"/>
        <mapper resource="resources/MapperCars.xml"/>
        <mapper resource="resources/MapperCarType.xml"/>
        <mapper resource="resources/MapperCity.xml"/>
        <mapper resource="resources/MapperDrivers.xml"/>
        <mapper resource="resources/MapperListOfOrders.xml"/>
        <mapper resource="resources/MapperOrders.xml"/>
        <mapper resource="resources/MapperOrdersType.xml"/>
        <mapper resource="resources/MapperPassenger.xml"/>
        <mapper resource="resources/MapperPayment.xml"/>
        <mapper resource="resources/MapperStreets.xml"/>
    </mappers>
</configuration>