<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resources.mapper.Car">
    <select
            id="getById"
            parameterType="java.lang.Integer"
    >
        select * from Car where id = #{id}
    </select>

    <select id="getDriversId">
        select * from Drivers
    </select>
</mapper>